{% extends 'base.html' %}
{% load static %}
{% load form_tags %}
{% block page_title %}
  Liste des Ventes
{% endblock %}

{% block content %}
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-semibold">Liste des ventes</h2>
    <div class="flex justify-between items-center">
      <h1 class="mr-2 text-md font-semibold">Solde Banque : {{solde_banque.balance}}</h1>
      <h1 class="mr-2 text-md font-semibold">Solde Caisse : {{solde_caisse.balance}}</h1>
    </div>
    <div>
      <a href="{% url 'sales:rapport_periodique' %}" class="px-4 py-2 bg-yellow-500 text-white rounded hover:bg-blue-600">Compte global</a>
      <a href="{% url 'sales:mon_rapport_periodique' %}" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-blue-600">Mon compte</a>
    </div>
    <a href="{% url 'sales:sale_create' %}" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Ajouter une vente</a>
  </div>
  <form method="get" class="mb-4 flex flex-wrap items-end gap-4">
    {# Produit field - Largeur Fixe 50px #}
    <div class="flex-none">
      <label class="block text-sm font-medium text-gray-700">Produit</label>
      {{ filter.form.product|add_class:'w-[195px] border border-gray-300 rounded px-2 py-1 h-9' }}
    </div>

    {# Client field - Largeur Fixe 50px #}
    <div class="flex-none">
      <label class="block text-sm font-medium text-gray-700">Client</label>
      {{ filter.form.customer|add_class:'w-[195px] border border-gray-300 rounded px-2 py-1 h-9' }}
    </div>

    {# Statut field - Largeur Fixe 50px #}
    <div class="flex-none">
      <label class="block text-sm font-medium text-gray-700">Statut</label>
      {{ filter.form.status|add_class:'w-[195px] border border-gray-300 rounded px-2 py-1 h-9' }}
    </div>

    {# Date field - Largeur Fixe 50px #}
    <div class="flex-none">
      <label class="block text-sm font-medium text-gray-700">Date (du ... au ...)</label>
      {{ filter.form.created_at|add_class:'w-[195px] border border-gray-300 rounded px-2 py-1 h-9' }}
    </div>

    <div class="flex space-x-2">
      <button type="submit" class="px-4 py-2 h-9 bg-blue-500 text-white rounded hover:bg-blue-600">Filtrer</button>
      <a href="{% url 'sales:sale_list' %}" class="px-4 py-2 h-9 bg-gray-500 text-white rounded hover:bg-gray-600 flex items-center">Réinitialiser</a>
    </div>
  </form>

  <table class="min-w-full bg-white rounded shadow overflow-hidden">
    <thead class="bg-blue-600 text-white">
      <tr>
        <th class="px-4 py-2 text-left">Produit</th>
        <th class="px-4 py-2 text-left">Quantité</th>
        <th class="px-4 py-2 text-left">Client</th>
        <th class="px-4 py-2 text-left">Méthode de paiement</th>
        <th class="px-4 py-2 text-left">Statut</th>
        <th class="px-4 py-2 text-left">Date</th>
        <th class="px-4 py-2 text-left">Total</th>
        <th class="px-4 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for sale in page_obj %}
        <tr class="border-b hover:bg-gray-50">
          <td class="px-4 py-2">{{ sale.product.name }}</td>
          <td class="px-4 py-2">{{ sale.quantity }}</td>
          <td class="px-4 py-2">{{ sale.customer }}</td>
          <td class="px-4 py-2">{{ sale.payment_method }}</td>
          <td class="px-4 py-2">
            {% if sale.status == 'Pending' %}
              <span class="text-yellow-600 font-semibold">En attente</span>
            {% elif sale.status == 'Validated' %}
              <span class="text-green-600 font-semibold">Validée</span>
            {% elif sale.status == 'Rejected' %}
              <span class="text-red-600 font-semibold">Rejetée</span>
            {% endif %}
          </td>
          <td class="px-4 py-2">{{ sale.created_at }}</td>
          <td class="px-4 py-2">{{ sale.total_price }} F CFA</td>
          <td class="px-4 py-2 space-x-2">
            <a href="{% url 'sales:sale_update' sale.pk %}" class="px-2 py-1 bg-yellow-500 text-white rounded hover:bg-yellow-600">Modifier</a>
            {% if sale.status == 'pending' %}
              {% if user.est_admin %}
                <a href="{% url 'sales:sale_validate' sale.pk %}" class="px-2 py-1 bg-green-500 text-white rounded hover:bg-green-600">Valider</a>
                <a href="{% url 'sales:sale_reject' sale.pk %}" class="px-2 py-1 bg-red-500 text-white rounded hover:bg-red-600">Rejeter</a>
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="px-4 py-2 text-center text-gray-500">Aucune vente trouvée.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="flex justify-between mt-4">
    <div class="pagination">
      {% if page_obj.has_previous %}
        <a href="?page=1" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">&laquo; Première</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">Précédente</a>
      {% endif %}

      <span class="px-4 py-2">Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}</span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">Suivante</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">Dernière &raquo;</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
